<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
    colors="true"
    bootstrap="tests/bootstrap.php"
    cacheDirectory=".phpunit.cache"
    displayDetailsOnTestsThatTriggerWarnings="true"
>
    <testsuites>
        <testsuite name="Brammo Content Test Suite">
            <directory>tests/TestCase/</directory>
        </testsuite>
    </testsuites>

    <!-- Load extension for fixtures -->
    <extensions>
        <bootstrap class="Cake\TestSuite\Fixture\Extension\PHPUnitExtension"/>
    </extensions>

    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </source>

    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="apc.enable_cli" value="1"/>
    </php>
</phpunit>
